.container {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 740px;
    height: 60px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 2px;
    font-size: 26px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}