.container {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 740px;
    height: 60px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 4px;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
    width: 745px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #2196F3;
    border: #2196F3;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func);
}

 .btn:hover {
     background-color: #03b453;
 }
 