.list {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 20px;  
    padding: 25px;
}

.item {
    display: flex;
    align-items: center; 
} 

.item::before {
    content: '';
    display: list-item; 
    margin-left: 40px; 
}

.btn {
    width: 100px;
    height: 60px;
    margin-left: auto;
    font-size: 23px;
    border-radius: 4px;
    background: #2196F3;
    border: #2196F3;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func);
}
    
    .btn:hover,
    .btn:focus {
        background-color: #da1717;
}